<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonWin32" version="2.1.0.3" targetFramework="net48" />
  <package id="ControlzEx" version="4.4.0" targetFramework="net48" />
  <package id="ExCSS" version="4.1.4" targetFramework="net48" />
  <package id="Fizzler" version="1.2.1" targetFramework="net48" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net48" />
  <package id="GumroadLicensing" version="2.0.2" targetFramework="net48" />
  <package id="Guna.UI2.WinForms" version="2.0.4.7" targetFramework="net48" />
  <package id="MahApps.Metro" version="2.4.10" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.BootstrapIcons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.BoxIcons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.CircumIcons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Codicons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Coolicons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Core" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Entypo" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.EvaIcons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.FeatherIcons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.FileIcons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Fontaudio" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.FontAwesome" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Fontisto" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.ForkAwesome" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.GameIcons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Ionicons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.JamIcons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Lucide" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Material" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.MaterialDesign" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.MaterialLight" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.MemoryIcons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Microns" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Modern" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Octicons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.PhosphorIcons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.PicolIcons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.PixelartIcons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.RadixIcons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.RemixIcon" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.RPGAwesome" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.SimpleIcons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Typicons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Unicons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.VaadinIcons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.WeatherIcons" version="5.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Zondicons" version="5.1.0" targetFramework="net48" />
  <package id="Material.Icons" version="2.4.1" targetFramework="net48" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net48" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authorization" version="3.1.10" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Components" version="3.1.10" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Components.Analyzers" version="3.1.10" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Components.Authorization" version="3.1.10" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Components.Forms" version="3.1.10" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Components.Web" version="3.1.10" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Metadata" version="3.1.10" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="3.1.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.10" targetFramework="net48" />
  <package id="Microsoft.JSInterop" version="3.1.10" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
  <package id="ModernWPF" version="1.4.6" targetFramework="net48" />
  <package id="Mono.Nat" version="3.0.0" targetFramework="net48" />
  <package id="MonoTorrent" version="3.0.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="RestSharp" version="112.1.0" targetFramework="net48" />
  <package id="ReusableTasks" version="4.0.0" targetFramework="net48" />
  <package id="Skclusive.Core.Component" version="5.2.0" targetFramework="net48" />
  <package id="Skclusive.Extensions.DependencyInjection" version="5.2.0" targetFramework="net48" />
  <package id="Skclusive.Material.Avatar" version="5.2.0" targetFramework="net48" />
  <package id="Skclusive.Material.Button" version="5.2.0" targetFramework="net48" />
  <package id="Skclusive.Material.Card" version="5.2.0" targetFramework="net48" />
  <package id="Skclusive.Material.Core" version="5.2.0" targetFramework="net48" />
  <package id="Skclusive.Material.Paper" version="5.2.0" targetFramework="net48" />
  <package id="Skclusive.Material.Theme" version="5.2.0" targetFramework="net48" />
  <package id="Skclusive.Material.Transition" version="5.2.0" targetFramework="net48" />
  <package id="Skclusive.Material.Typography" version="5.2.0" targetFramework="net48" />
  <package id="Skclusive.Script.DomHelpers" version="5.2.0" targetFramework="net48" />
  <package id="Skclusive.Transition.Component" version="5.2.0" targetFramework="net48" />
  <package id="StandardSocketsHttpHandler" version="2.2.0.4" targetFramework="net48" />
  <package id="Svg" version="3.4.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.4" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>